* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;

}

/* body style starts here */
html,
body {
  overflow-x: hidden;
  color: #141f39;
}
/* body style endss here */

/* heading style starts here */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141f39;
}
/* heading style ends here */

/* header style starts here */
.title {
  font-size: 3rem !important;
}
.sub-title {
  font-size: 1.75rem;
}
.icons-img {
  cursor: pointer;
}
/* header style ends here */

/* more-about style starts here */
.more-details-container-img {
  height: 2rem;
}
.text-justify {
  text-align: justify;
}
/* more-about style ends here*/

.banner {
  background: url("../assets/main/hero-page-banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
}

.custom-title_fs {
  font-size: 4rem;
}

.custom-subtitle_fs {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .hero-pic {
    width: 200px;
    height: 200px;
  }
  .custom-title_fs {
    font-size: 3rem;
  }
}

.wrapper_header-animated-icons img {
  position: absolute;
  height: 100%;
  /* top: 0; */
  /* left: 0; */
  object-fit: contain;
}

.wrapper_header-animated-icons .img1 {
  position: absolute;
  height: 100%;
  top: -35%;
  left: 28%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img2 {
  position: absolute;
  height: 100%;
  top: 13%;
  left: 26%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img3 {
  position: absolute;
  height: 100%;
  top: -12%;
  left: 18%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img4 {
  position: absolute;
  height: 100%;
  top: -32%;
  left: 9%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img5 {
  position: absolute;
  height: 100%;
  top: 6%;
  left: 7%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img6 {
  position: absolute;
  height: 100%;
  top: -30%;
  right: 27%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img7 {
  position: absolute;
  height: 100%;
  top: 8%;
  right: 25%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img8 {
  position: absolute;
  height: 100%;
  top: -12%;
  right: 16%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img9 {
  position: absolute;
  height: 100%;
  top: -35%;
  right: 7%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img10 {
  position: absolute;
  height: 100%;
  top: 12%;
  right: 7%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img11 {
  position: absolute;
  height: 100%;
  top: 30%;
  right: 15%;
  object-fit: contain;
}

.wrapper_header-animated-icons .img12 {
  position: absolute;
  height: 100%;
  top: 31%;
  left: 15%;
  object-fit: contain;
}

.technology-img {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
border: 1px solid #00AA45;
}
.technology-name {
  color: #00AA45;
  font-size: 0.6875rem;
}

.wrapper_teckstacks {
  display: flex;
  flex-wrap: wrap;
}